---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section class="flex flex-col gap-2 p-4 bg-brand text-white font-inter">
        <a href="/" class="text-3xl hover:border-b-2 hover:border-white w-fit">Voltar</a>
        <h1>Política de Privacidade - Hapvida</h1>
        <p>
            A sua privacidade é importante para nós. É política da Hapvida respeitar a sua privacidade em relação a qualquer
            informação sua que possamos coletar no site da Modo Seguro Corretora
            e em outros sites que possuímos e operamos.
        </p>
        <p>
            Solicitamos informações pessoais apenas quando realmente precisamos
            delas para lhe fornecer um serviço. Fazemos isso de maneira justa e
            legal, com o seu conhecimento e consentimento, sempre informando por
            que estamos coletando e como seus dados serão usados.
        </p>
        <p>
            Mantemos as informações coletadas pelo tempo necessário para
            fornecer o serviço solicitado. Quando armazenamos dados, protegemos
            com medidas de segurança adequadas para evitar perdas, roubos,
            acessos não autorizados, divulgação, cópia, uso ou modificações
            indevidas.
        </p>
        <p>
            Não compartilhamos informações de identificação pessoal publicamente
            ou com terceiros, exceto quando exigido por lei.
        </p>
        <p>
            Nosso site pode conter links para sites externos que não são
            operados por nós. Informamos que não temos controle sobre o conteúdo
            e práticas desses sites, e não nos responsabilizamos por suas
            políticas de privacidade.
        </p>
        <p>
            Você tem a liberdade de recusar nossa solicitação de informações
            pessoais, compreendendo que isso pode impactar a disponibilidade de
            alguns serviços.
        </p>
        <p>
            O uso contínuo do nosso site será considerado como aceitação de
            nossas práticas de privacidade e tratamento de dados. Se tiver
            dúvidas sobre como lidamos com informações de usuários, entre em
            contato conosco.
        </p>

        <h1>Política de Cookies - Hapvida</h1>
        <h2>O que são cookies?</h2>
        <p>
            Como prática comum em quase todos os sites profissionais, este site
            utiliza cookies, pequenos arquivos baixados no seu dispositivo, para
            melhorar sua experiência. Esta página explica quais informações são
            coletadas, como as usamos e por que às vezes precisamos
            armazená-las.
        </p>

        <h2>Como usamos os cookies?</h2>
        <p>
            Utilizamos cookies por diversos motivos, detalhados abaixo. Em
            geral, não há opções padrão do setor para desativá-los sem
            comprometer algumas funcionalidades do site. Por isso, recomendamos
            que os mantenha ativados, a menos que tenha certeza de que não
            precisa deles.
        </p>

        <h2>Desativação de Cookies</h2>
        <p>
            Você pode impedir a configuração de cookies ajustando as
            configurações do seu navegador (consulte a Ajuda do navegador para
            saber como fazer isso). No entanto, esteja ciente de que a
            desativação de cookies pode afetar a funcionalidade deste e de
            muitos outros sites.
        </p>

        <h2>Cookies que definimos</h2>
        <ul class="ml-8">
            <li>
                <strong>Cookies relacionados à conta:</strong> usados para gerenciar
                processos de inscrição e administração de contas.
            </li>
            <li>
                <strong>Cookies de login:</strong> armazenam sua sessão para evitar
                que você precise fazer login várias vezes.
            </li>
            <li>
                <strong>Cookies para boletins informativos:</strong> lembram se você
                já está inscrito para evitar notificações repetitivas.
            </li>
            <li>
                <strong>Cookies de processamento de pedidos:</strong> essenciais
                para garantir que seu pedido seja processado corretamente.
            </li>
            <li>
                <strong>Cookies relacionados a pesquisas:</strong> garantem que cada
                usuário responda à pesquisa apenas uma vez.
            </li>
            <li>
                <strong>Cookies para formulários:</strong> lembram detalhes do usuário
                para preenchimentos futuros.
            </li>
            <li>
                <strong>Cookies de preferências do site:</strong> armazenam suas
                preferências de navegação para melhorar a experiência.
            </li>
        </ul>

        <h2>Cookies de Terceiros</h2>
        <p>
            Em alguns casos, utilizamos cookies fornecidos por terceiros
            confiáveis. Um exemplo é o Google Analytics, que coleta informações
            sobre sua navegação para nos ajudar a melhorar o site.
        </p>

        <h1>Compromisso do Usuário</h1>
        <p>
            O usuário se compromete a utilizar o conteúdo e informações
            disponíveis no site da Modo Seguro Corretora de maneira adequada,
            evitando:
        </p>
        <ul>
            <li>Práticas ilegais ou contrárias à boa fé e à ordem pública;</li>
            <li>
                Divulgação de conteúdo racista, xenofóbico, pornográfico ilegal
                ou que faça apologia ao terrorismo e violação de direitos
                humanos;
            </li>
            <li>
                Prejuízos a sistemas físicos e lógicos, introduzindo vírus ou
                qualquer outra tecnologia maliciosa.
            </li>
        </ul>

        <h1>Mais informações</h1>
        <p>
            Esperamos que este documento tenha esclarecido suas dúvidas. Caso
            ainda tenha perguntas, entre em contato conosco. Esta política é
            válida a partir de setembro de 2022.
        </p>
    </section>
</BaseLayout>
